# Ignore Directories
bin/
build/
tests/

# Ignore Special Files
phpinfo.php
*~
*-
*.bak
*.log

# Ignore Specific Files
buildtests

# If Phalcon Directory symlinked, ignore it to.
phalcon

# GitEye Specific
/.project
